@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html, body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preconfig {
    outline: none;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header"
        "image content"
        "main main";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 70px auto 1fr;
}

header {
    grid-area: header;
    background-color: #6181e9;
}

.image {
    grid-area: image;
}

.image img {
    width: 340px;
    border-radius: 3px;
}

.content {
    grid-area: content;
    margin: 10px;
    padding-left: 10px;
    border-left: 1px solid #797979;
}

.content table caption {
    border-bottom: 1px solid #363636;
    padding: 5px;
}

.content table td {
    padding: 5px;
}

.content table td.inf {
    width: 150px;
    font-weight: 600;
    border-right: 1px dashed;
}

a {
    text-decoration: none;
}

main {
    grid-area: main;
    padding: 10px;
}

main details {
    padding: 10px;
}

main table {
    max-width: 600px;
}

main table td {
    padding: 5px;
    text-align: center;
}

main table td.inf {
    width: 150px;
    font-weight: 500;
}

main form {
    padding: 5px;
    border: 1px solid #797979;
}

main form label {
    font-weight: 600;
}

main form input {
    border-radius: 0;
    padding: 2px 5px;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

main form select {
    padding: 2px 5px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 0;
    appearance: none;
}

main form textarea {
    border-radius: 0;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

main form button[type="submit"] {
    border: 0;
    border-radius: 3px;
    font-size: 22px;
    padding: 10px 10px;
    color: #ffffff;
    background-color: #ED4245;
}
