@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 80px 1fr 100px;
}

body header {
    grid-area: header;
    text-align: center;
    background-color: #6181e9;
}

body main {
    grid-area: main;
    display: grid;
    grid-template-areas: "image content";
    grid-template-columns: minmax(400px, 1fr) 2fr;
}

body main .image {
    grid-area: image;
    height: calc(100% - 10px);
    max-height: calc(100vh - 180px);
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1500px) {
    body main {
        grid-template-columns: 450px 1fr;
    }
}

body main .image img {
    max-width: 380px;
    max-height: calc((380px / 3) * 4);
    border-radius: 3px;
}

body main .content {
    grid-area: content;
    margin: 5px 5px;
    padding: 5px 10px;
    border-left: 1px solid #a0a0a0;
}

body main .content p {
    text-align: justify;
}

body main .content details table {
    table-layout: fixed;
}

body main .content details table, caption {
    border: 1px solid;
    max-width: 600px;
}

body main .content table tr td {
    margin: 3px 3px;
}

body main .content table.kqht tr td {
    text-align: center;
}

body main .content table tr td.inf {
    text-align: end;
    font-weight: 600;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    padding-right: 5px;
    border-right: 1px solid;
}

body main .content table.kqht tr th {
    border: 1px solid;
}

body main .content form {
    border: 1px solid;
    padding: 5px 5px;
}

body main .content form label {
    width: 100px;
}

body main .content form input {
    border-radius: 0;
    outline: none;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body main .content form option {
    border-radius: 0;
    outline: none;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body main .content form textarea {
    resize: none;
    outline: none;
    border-radius: 0;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body main .content form button[type="submit"] {
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 10px;
    background-color: #ED4245;
    border: none;
    outline: none;
}

body footer {
    grid-area: footer;
    background-color: #9fa2aa;
    padding: 10px;
}