<dialog open>
    <article>
        <header>
        <!-- <button aria-label="Close" rel="prev"></button> -->
        <p>
            <strong aria-busy="true">HỆ THỐNG ĐANG BẢO TRÌ</strong>
        </p>
        </header>
        <p>
        Hiện tại hệ thống đang được bảo trì!
        </p>
        <p>Trong thời gian này bạn không thể sử dụng được trang web này</p>
        <p><b>Chúng tôi sẽ sớm trở lại!</b></p>
        <footer>
            <p><i>Xin lỗi vì sự bất tiện này!</i></p>
        </footer>
    </article>
</dialog>