<!-- Component: Header -->
<link rel="stylesheet" href="/styles/components.css">
<div class="header">
    <div class="left">
        <h2 class="logo">HaoLeM</h2>
        <div class="nav">
            <a href="/index.html">Trang chủ</a>
            <a href="/about.html">Giới thiệu</a>
            <a href="/projects.html">Dự án</a>
            <a href="/documentation.html">Tài liệu</a>
            <a href="/help.html">Hỗ trợ</a>
        </div>
    </div>
    <div class="right">
        <p><i>NP/KRSK</i></p>
    </div>

</div>

