<!-- Component: Header -->
<link rel="stylesheet" href="/styles/components.css">
<div class="header">
    <div class="left">
        <h2 class="logo">HaoLeM</h2>
        <div class="nav">
            <a href="/?">Trang chủ</a>
            <a href="/about?">Giới thiệu</a>
            <a href="/projects?">Dự án</a>
            <a href="/documentation?">Tài liệu</a>
            <a href="/help?">Hỗ trợ</a>
        </div>
    </div>
    <div class="right">
        <p><i>NP/KRSK</i></p>
    </div>

</div>
