<style>
    .header {
        background-color: rgba(255, 255, 255, .02);
    }
</style>
<nav class="header container-fluid">
    <ul>
        <li><strong style="font-size: 1.75rem;">HaoLeM</strong></li>
    </ul>
    <ul>
        <li><a href="/index.html" class="secondary" >Trang chủ</a></li>
        <li><a href="/about.html" class="secondary" >Về tôi</a></li>
        <li><a href="/projects.html" class="secondary" >Dự án</a></li>
        <li><a href="/contact.html" class="secondary" >Liên lạc</a></li>
        <li><a href="/help.html" class="secondary" ><button class="outline secondary" style="color: #a0a6eb" ><b>Hỗ trợ</b></button></a></li>
    </ul>
</nav>